body, html{
	height: 100%;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400;
	background-color: #FFF;
	width: 100%;
}


h1{
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}

.sidemenu{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 199px;
	height: 100%;
	background-color: #444a64;
	border-right: 1px solid #33384b;
}

.sidemenu > .divider {
	height: 4px;
	width: 100%;
	background-color: #3b4255;
	float: left;
	border-bottom: 1px solid #4f5672;
}

.sidemenu .lbl{
	font-size: 2rem;
	color: #7c839d;
	padding: 15px 25px;
}

.sidemenu > nav {
	width: 100%;
	padding: 0px 0px 15px 0px;
	float: left;
}

.sidemenu > nav > ul {
	padding-left: 0px;
	margin: 0px;
	list-style: none;
}

.sidemenu > nav > ul > li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 25px;
	cursor: pointer;
	padding-right: 10px;
	float: left;
}

.sidemenu > nav > ul > li:hover{
	background-color:rgba(255, 255, 255, 0.05);
}

.sidemenu > nav > ul > li.active{
	border-left: 4px solid #00b0f4; 
	background-color:rgba(0, 0, 0, 0.25);
	padding-left: 21px;
}

.sidemenu > nav > ul > li > a{
	text-decoration: none;
	color: #FFF;
}

.sidemenu > nav > ul > li > a > i{
	margin-right: 10px;
	float: left;
	margin-top: 4px;
	font-size: 9px;
}

.sidemenu > nav > ul > li > a > span{
	float: left;
	margin-right: 10px;
}

.conteudo {
	padding: 0px 15px;
}

.divider-white{
	height: 4px;
	width: 100%;
	background-color: #e9eaec;
	float: left;
}

.conteudo .item{
	margin-top: 15px;
}

.item > .details > .title{
	width: 100%;
	background-color: red;
}

.view{
	width: 100%; height: 100%; padding-left: 0px; overflow: auto; float: left; position: relative;
}


#search input[type=search]{
	width: 50%;
	padding: 15px;
	border: 2px solid #bdbdbd;
	background-color: #e9eaec;
	border-radius: 5px 0px 0px 5px;
	margin-right: -5px;
}

#search button{
	padding: 15px;
    border: 2px solid #bdbdbd;
    background-color: #444a64;
    color: #FFF;
    border-radius: 0px 5px 5px 0px;
    font-weight: 500;
}

.btn {
	padding: 0px;
}

/**/

.user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 24px auto;
  max-width: 960px;
  margin-top: 10px;
  height: 150px;
}

.user:last-child {
  margin-bottom: 0;
}

.user__avatar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 96px;
      -ms-flex: 0 0 96px;
          flex: 0 0 96px;
  width: 96px;
}

.user__description {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 24px;
  padding: 12px;
  border: solid 1px #e7e7e7;
  height: 150px;
}

.user__description:hover {
  border: solid 1px #00b0f4;
}

.user__username {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: 500;
}

.user__excerpt {
  margin: 0;
}

