<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>HCMovies</title>
</head>
<body ng-controller="appController">
	
	<div class="nav-bar">

		<div style="width: 50px; height: 50px; float: left; display: flex;" ng-click="toggleMenu()">
			<i style="margin: auto;" class="mdi mdi-menu mdi-24px"></i>
		</div>

		<div style="height: 50px; float: right; display: flex; padding-right: 25px;">
			<span style="margin: auto; font-weight: 500;"><span style="color: #FFEB3B">HC</span>Movies</span>
		</div>

	</div>

	<div class="conteudo">

		<div class="sidebar-shadow" ng-style="menu" ng-click="menu=''"></div>

		<div class="sidebar" ng-style="menu">

			<div class="header">

				<div class="logo" style="height: 50px; width: 100%; display: flex; background-color: black;">
					<span style="margin: auto; font-weight: 500;"><span style="color: #FFEB3B">HC</span>Movies</span>
				</div>

				<div class="hi" style="height: 150px; display: flex;">
					<div style="margin: auto;" ng-show="user">
						<img style="width: 60px; height: 60px; border-radius: 30px; margin-right: 20px;" ng-src="{{user.photoURL}}">
						<div class="bdg">
							<span>24</span>
						</div>
						<span style="color: #FFF;">Olá, {{user.displayName}}!</span>
					</div>
					<div style="margin: auto;" ng-show="!user">
						<button class="button button-primary" ng-click="logar()">ENTRAR</button>
					</div>
				</div>

			</div>

			<nav ng-init="nav=1">
				<ul>
					<li ng-class="{'active': nav == 1}" ng-click="menu='';nav=1">
						<a href="#postar">Postar</a>
					</li>
					<li ng-class="{'active': nav == 2}" ng-click="menu='';nav=2">
						<a href="#/">Filmes <span class="bdg">{{filmes.length}}</span></a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="view" ng-view>


			
		</div>

	</div>

</body>
	<script src="lib/firebase/firebase.js"></script>
	<script src="lib/angularjs/angular.min.js"></script>
	<script src="lib/angularjs/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular-sanitize.js"></script>
	<script src="lib/angularjs/moment.min.js"></script>
	<script src="lib/angularjs/angular-base64-upload.min.js"></script>
	<script src="lib/angularjs/angular-moment.min.js"></script>
	<script src="lib/firebase/angularfire.min.js"></script>
	<script src="js/app.js"></script>
	<script>
		var config = {
			apiKey: "AIzaSyC0GK0PgwRAfHHJgBdhnI9drVywOnPXEfQ",
			authDomain: "hcmovies-36e89.firebaseapp.com",
			databaseURL: "https://hcmovies-36e89.firebaseio.com",
			storageBucket: "hcmovies-36e89.appspot.com",
			messagingSenderId: "296565486769"
		};
		firebase.initializeApp(config);
	</script>
</html>