<div class="row" style="margin-bottom: 25px;">
	
	<div class="col-md-6 hidden-xs" style="line-height: 50px;">

		My Collection ({{filmes.length}})
		
	</div>

	<div class="col-md-6 col-xs-12" align="right">
		
		<input style="width: 100%;" type="search" class="search" ng-model="search" placeholder="Busca"></input>

	</div>

</div>


<div ng-repeat="filme in filmes | orderBy: '-nota' | filter: search | filter:query as count" class="col-md-3 col-xs-6 col-lg-3 item">

	<div style="width: 80%; margin: auto; position: relative;">

		<div class="bdg">
			<span>{{filme.nota | number:1}}</span>
		</div>

		<img ng-src="res/{{filme.capa}}.jpg">

		<div class="description">
			<h2>{{filme.titulo}}</h2>
			<h4>{{filme.subtitulo}}</h4>
		</div>

	</div>

</div>


