<div class="row header" style="margin-bottom: 25px;">
	
	<div class="col-md-6 col-xs-12" style="line-height: 50px;">

		Postar
		
	</div>

</div>


<div class="col-md-12">
	
	<form ng-submit="enviar()">

		<label>Capa</label>
		<input type="file" ng-model="capa" base-sixty-four-input required maxsize="500" accept="image/*"/>
		<label>Título</label>
		<input type="text" ng-model="titulo"/>
		<label>Ano</label>
		<input type="number" ng-model="ano"/>
		<label>Nota</label>
		<select ng-model="nota">
			<option value="">Selecione</option>
			<option value="5">5</option>
			<option value="4">4</option>
			<option value="3">3</option>
			<option value="2">2</option>
			<option value="1">1</option>
		</select>
		<input class="button button-primary" type="submit" value="Salvar"/>
		
	</form>

</div>


